
# Lending Club Case Study

This assignment is created to solve and understand the real world problems faced by a Lending Club.

Here we will be working on the data provieded to us.

As we go through the steps to get an understand of data analisys and data processing and get some insight into risks and issues faced by a Lending Club.

## Our plan of action:
Before we start visualizing and drawing consultions we must:
1. Understanding the data: This involves ,
* seeing the raw data.
* finding the columns that might be of interest.
* seeing the values held by a column.
2. Cleaning the data: This would involve ,
* Dropping columns that dont have any values.
* Dropping columns that dont add any value to the data set.
* standardization of the values in the data set.
* Replace the null values if that can be done depending on the column.
3. Create new columns : We will now create columns that might give us a deeper insight into the data and help create more segmenting atributes .

### So lets get into it!

#### Installs you might need to run the notebook if you have a fresh install of Jupyter

In [1]:
#pip install pandas
#pip install numpy
#pip install matplotlib
#pip install seaborn

#### Imports needed

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading the data into a data set .

In [3]:
LC_Data = pd.read_csv("Data\loan.csv" ,index_col=False,dtype="unicode")

#### Lets View the data

In [4]:
LC_Data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [5]:
# Adding code to see all the columns of data set
pd.set_option('display.max_columns', 112)
LC_Data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0,0,5863.155187,5833.84,5000,863.16,0,0,0,Jan-15,171.62,NaN,May-16,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0,0,1008.71,1008.71,456.46,435.17,0,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0,0,3005.666844,3005.67,2400,605.67,0,0,0,Jun-14,649.91,NaN,May-16,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20,0,Feb-96,1,35,NaN,10,0,5598,21%,37,f,0,0,12231.89,12231.89,10000,2214.92,16.97,0,0,Jan-15,357.48,NaN,Apr-16,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.33,3513.33,2475.94,1037.39,0,0,0,May-16,67.79,Jun-16,May-16,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

## Cleaning the Data
#### Dropping columns

In [6]:
# first lets find the total no. of rows
LC_Data.shape

(39717, 111)

In [7]:
# lets find all the columns with null values
LC_Data.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  object
 1    member_id                       39717 non-null  object
 2    loan_amnt                       39717 non-null  object
 3    funded_amnt                     39717 non-null  object
 4    funded_amnt_inv                 39717 non-null  object
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  object
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  object
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  object
 25   delinq_2yrs                     39717 non-null  object
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  object
 28   mths_since_last_delinq          14035 non-null  object
 29   mths_since_last_record          2786 non-null   object
 30   open_acc                        39717 non-null  object
 31   pub_rec                         39717 non-null  object
 32   revol_bal                       39717 non-null  object
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  object
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  object
 37   out_prncp_inv                   39717 non-null  object
 38   total_pymnt                     39717 non-null  object
 39   total_pymnt_inv                 39717 non-null  object
 40   total_rec_prncp                 39717 non-null  object
 41   total_rec_int                   39717 non-null  object
 42   total_rec_late_fee              39717 non-null  object
 43   recoveries                      39717 non-null  object
 44   collection_recovery_fee         39717 non-null  object
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  object
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  object
 50   mths_since_last_major_derog     0 non-null      object
 51   policy_code                     39717 non-null  object
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      object
 54   dti_joint                       0 non-null      object
 55   verification_status_joint       0 non-null      object
 56   acc_now_delinq                  39717 non-null  object
 57   tot_coll_amt                    0 non-null      object
 58   tot_cur_bal                     0 non-null      object
 59   open_acc_6m                     0 non-null      object
 60   open_il_6m                      0 non-null      object
 61   open_il_12m                     0 non-null      object
 62   open_il_24m                     0 non-null      object
 63   mths_since_rcnt_il              0 non-null      object
 64   total_bal_il                    0 non-null      object
 65   il_util                         0 non-null      object
 66   open_rv_12m                     0 non-null      object
 67   open_rv_24m                     0 non-null      object
 68   max_bal_bc                      0 non-null      object
 69   all_util                        0 non-null      object
 70   total_rev_hi_lim                0 non-null      object
 71   inq_fi                          0 non-null      object
 72   total_cu_tl                     0 non-null      object
 73   inq_last_12m                    0 non-null      object
 74   acc_open_past_24mths            0 non-null      object
 75   avg_cur_bal                     0 non-null      object
 76   bc_open_to_buy                  0 non-null      object
 77   bc_util                         0 non-null      object
 78   chargeoff_within_12_mths        39661 non-null  object
 79   delinq_amnt                     39717 non-null  object
 80   mo_sin_old_il_acct              0 non-null      object
 81   mo_sin_old_rev_tl_op            0 non-null      object
 82   mo_sin_rcnt_rev_tl_op           0 non-null      object
 83   mo_sin_rcnt_tl                  0 non-null      object
 84   mort_acc                        0 non-null      object
 85   mths_since_recent_bc            0 non-null      object
 86   mths_since_recent_bc_dlq        0 non-null      object
 87   mths_since_recent_inq           0 non-null      object
 88   mths_since_recent_revol_delinq  0 non-null      object
 89   num_accts_ever_120_pd           0 non-null      object
 90   num_actv_bc_tl                  0 non-null      object
 91   num_actv_rev_tl                 0 non-null      object
 92   num_bc_sats                     0 non-null      object
 93   num_bc_tl                       0 non-null      object
 94   num_il_tl                       0 non-null      object
 95   num_op_rev_tl                   0 non-null      object
 96   num_rev_accts                   0 non-null      object
 97   num_rev_tl_bal_gt_0             0 non-null      object
 98   num_sats                        0 non-null      object
 99   num_tl_120dpd_2m                0 non-null      object
 100  num_tl_30dpd                    0 non-null      object
 101  num_tl_90g_dpd_24m              0 non-null      object
 102  num_tl_op_past_12m              0 non-null      object
 103  pct_tl_nvr_dlq                  0 non-null      object
 104  percent_bc_gt_75                0 non-null      object
 105  pub_rec_bankruptcies            39020 non-null  object
 106  tax_liens                       39678 non-null  object
 107  tot_hi_cred_lim                 0 non-null      object
 108  total_bal_ex_mort               0 non-null      object
 109  total_bc_limit                  0 non-null      object
 110  total_il_high_credit_limit      0 non-null      object
dtypes: object(111)
memory usage: 33.6+ MB

In [8]:
# as we see there are many columns with 0 non-null Values theya re of no use.
# we need to find the names of all the columns with 100% null values
null_percent = LC_Data.isnull().sum() * 100 / len(LC_Data)
missing_data=pd.DataFrame({"Column":LC_Data.columns,"Null_Percent":null_percent.round(1)})
missing_data.sort_values("Null_Percent",inplace=True, ascending= False)
# Lets manke a list of all the columns that have only null values
null_column = missing_data[missing_data['Null_Percent']==100.0].Column.tolist()
len(null_column)

54

In [9]:
# As we see we have 54 Columns that have no data we can drop them 
LC_Data_Nullcol_Dropped = LC_Data.drop(null_column,axis =1)
LC_Data_Nullcol_Dropped.shape

(39717, 57)

In [10]:
# Dropping Columns that dont add any value 
LC_Data_Nullcol_Dropped= LC_Data_Nullcol_Dropped.drop(["url","initial_list_status","collections_12_mths_ex_med","policy_code","application_type","acc_now_delinq","chargeoff_within_12_mths","delinq_amnt","tax_liens","pymnt_plan"],axis=1)
LC_Data_Nullcol_Dropped.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  object
 1   member_id                39717 non-null  object
 2   loan_amnt                39717 non-null  object
 3   funded_amnt              39717 non-null  object
 4   funded_amnt_inv          39717 non-null  object
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  object
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  object
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  desc                     26777 non-null  object
 18  purpose                  39717 non-null  object
 19  title                    39706 non-null  object
 20  zip_code                 39717 non-null  object
 21  addr_state               39717 non-null  object
 22  dti                      39717 non-null  object
 23  delinq_2yrs              39717 non-null  object
 24  earliest_cr_line         39717 non-null  object
 25  inq_last_6mths           39717 non-null  object
 26  mths_since_last_delinq   14035 non-null  object
 27  mths_since_last_record   2786 non-null   object
 28  open_acc                 39717 non-null  object
 29  pub_rec                  39717 non-null  object
 30  revol_bal                39717 non-null  object
 31  revol_util               39667 non-null  object
 32  total_acc                39717 non-null  object
 33  out_prncp                39717 non-null  object
 34  out_prncp_inv            39717 non-null  object
 35  total_pymnt              39717 non-null  object
 36  total_pymnt_inv          39717 non-null  object
 37  total_rec_prncp          39717 non-null  object
 38  total_rec_int            39717 non-null  object
 39  total_rec_late_fee       39717 non-null  object
 40  recoveries               39717 non-null  object
 41  collection_recovery_fee  39717 non-null  object
 42  last_pymnt_d             39646 non-null  object
 43  last_pymnt_amnt          39717 non-null  object
 44  next_pymnt_d             1140 non-null   object
 45  last_credit_pull_d       39715 non-null  object
 46  pub_rec_bankruptcies     39020 non-null  object
dtypes: object(47)
memory usage: 14.2+ MB

In [11]:
# Dropping data that cannot be used for analysis (unique to row)
LC_Data_Nullcol_Dropped = LC_Data_Nullcol_Dropped.drop(["id","member_id","desc",],axis=1)
# look at % of nulls again 
null_percent = LC_Data_Nullcol_Dropped.isnull().sum() * 100 / len(LC_Data_Nullcol_Dropped)
missing_data=pd.DataFrame({"Column":LC_Data_Nullcol_Dropped.columns,"Null_Percent":null_percent.round(1)})
missing_data.sort_values("Null_Percent",inplace=True, ascending= False)
missing_data

                                          Column  Null_Percent
next_pymnt_d                        next_pymnt_d          97.1
mths_since_last_record    mths_since_last_record          93.0
mths_since_last_delinq    mths_since_last_delinq          64.7
emp_title                              emp_title           6.2
emp_length                            emp_length           2.7
pub_rec_bankruptcies        pub_rec_bankruptcies           1.8
last_pymnt_d                        last_pymnt_d           0.2
revol_util                            revol_util           0.1
collection_recovery_fee  collection_recovery_fee           0.0
out_prncp_inv                      out_prncp_inv           0.0
open_acc                                open_acc           0.0
pub_rec                                  pub_rec           0.0
revol_bal                              revol_bal           0.0
total_acc                              total_acc           0.0
out_prncp                              out_prncp           0.0
total_pymnt                          total_pymnt           0.0
recoveries                            recoveries           0.0
total_pymnt_inv                  total_pymnt_inv           0.0
total_rec_prncp                  total_rec_prncp           0.0
last_credit_pull_d            last_credit_pull_d           0.0
total_rec_late_fee            total_rec_late_fee           0.0
last_pymnt_amnt                  last_pymnt_amnt           0.0
total_rec_int                      total_rec_int           0.0
loan_amnt                              loan_amnt           0.0
funded_amnt                          funded_amnt           0.0
earliest_cr_line                earliest_cr_line           0.0
funded_amnt_inv                  funded_amnt_inv           0.0
term                                        term           0.0
int_rate                                int_rate           0.0
installment                          installment           0.0
grade                                      grade           0.0
sub_grade                              sub_grade           0.0
home_ownership                    home_ownership           0.0
annual_inc                            annual_inc           0.0
verification_status          verification_status           0.0
issue_d                                  issue_d           0.0
loan_status                          loan_status           0.0
purpose                                  purpose           0.0
title                                      title           0.0
zip_code                                zip_code           0.0
addr_state                            addr_state           0.0
dti                                          dti           0.0
delinq_2yrs                          delinq_2yrs           0.0
inq_last_6mths                    inq_last_6mths           0.0

In [12]:
# Dropping the 1st 3 column names as they have very high Null Values
col_list=missing_data['Column'][:3].tolist()
LC_Data_Nullcol_Dropped=LC_Data_Nullcol_Dropped.drop(col_list,axis = 1)
LC_Data_Nullcol_Dropped.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  object
 1   funded_amnt              39717 non-null  object
 2   funded_amnt_inv          39717 non-null  object
 3   term                     39717 non-null  object
 4   int_rate                 39717 non-null  object
 5   installment              39717 non-null  object
 6   grade                    39717 non-null  object
 7   sub_grade                39717 non-null  object
 8   emp_title                37258 non-null  object
 9   emp_length               38642 non-null  object
 10  home_ownership           39717 non-null  object
 11  annual_inc               39717 non-null  object
 12  verification_status      39717 non-null  object
 13  issue_d                  39717 non-null  object
 14  loan_status              39717 non-null  object
 15  purpose                  39717 non-null  object
 16  title                    39706 non-null  object
 17  zip_code                 39717 non-null  object
 18  addr_state               39717 non-null  object
 19  dti                      39717 non-null  object
 20  delinq_2yrs              39717 non-null  object
 21  earliest_cr_line         39717 non-null  object
 22  inq_last_6mths           39717 non-null  object
 23  open_acc                 39717 non-null  object
 24  pub_rec                  39717 non-null  object
 25  revol_bal                39717 non-null  object
 26  revol_util               39667 non-null  object
 27  total_acc                39717 non-null  object
 28  out_prncp                39717 non-null  object
 29  out_prncp_inv            39717 non-null  object
 30  total_pymnt              39717 non-null  object
 31  total_pymnt_inv          39717 non-null  object
 32  total_rec_prncp          39717 non-null  object
 33  total_rec_int            39717 non-null  object
 34  total_rec_late_fee       39717 non-null  object
 35  recoveries               39717 non-null  object
 36  collection_recovery_fee  39717 non-null  object
 37  last_pymnt_d             39646 non-null  object
 38  last_pymnt_amnt          39717 non-null  object
 39  last_credit_pull_d       39715 non-null  object
 40  pub_rec_bankruptcies     39020 non-null  object
dtypes: object(41)
memory usage: 12.4+ MB

#### Data Type correction:

In [13]:
LC_Data_Nullcol_Dropped.issue_d=pd.to_datetime(LC_Data_Nullcol_Dropped.issue_d.str.upper(), format='%b-%y', yearfirst=False)
LC_Data_Nullcol_Dropped.earliest_cr_line=pd.to_datetime(LC_Data_Nullcol_Dropped.earliest_cr_line.str.upper(), format='%b-%y', yearfirst=False)
LC_Data_Nullcol_Dropped.last_pymnt_d=pd.to_datetime(LC_Data_Nullcol_Dropped.last_pymnt_d.str.upper(), format='%b-%y', yearfirst=False)
LC_Data_Nullcol_Dropped.last_credit_pull_d=pd.to_datetime(LC_Data_Nullcol_Dropped.last_credit_pull_d.str.upper(), format='%b-%y', yearfirst=False)

In [14]:
# Setting the data type of each column and standerdizing the data 
columns=['loan_amnt', 'funded_amnt','funded_amnt_inv', 'installment', 'annual_inc','revol_bal','dti', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int','total_rec_late_fee', 'recoveries', 'collection_recovery_fee','last_pymnt_amnt','pub_rec_bankruptcies']
LC_Data_Nullcol_Dropped[columns]=LC_Data_Nullcol_Dropped[columns].astype(float)
LC_Data_Nullcol_Dropped.term=LC_Data_Nullcol_Dropped.term.apply(lambda x:int(x[:2]))
LC_Data_Nullcol_Dropped.int_rate=LC_Data_Nullcol_Dropped.int_rate.apply(lambda x:float(x[:-1]))
LC_Data_Nullcol_Dropped.grade=LC_Data_Nullcol_Dropped.grade.apply(lambda x:str(x))

In [15]:
#emp Length is defined in a way that will not allow for analisys so we will try to standerdize it 
#here 10+ years will be taken as 11
#here <1 will be 0.5
def emp_length_func(y):
    y=str(y)
    l=y.split(" y")
    if l[0] == "< 1":
        return 0.5
    elif l[0] =="10+":
        return 11
    elif l[0] == "nan":
        return None
    else:
        return int(l[0])

LC_Data_Nullcol_Dropped.emp_length= LC_Data_Nullcol_Dropped.emp_length.apply(emp_length_func)

In [16]:
LC_Data_Nullcol_Dropped.inq_last_6mths=LC_Data.inq_last_6mths.apply(lambda x : int(x))
LC_Data_Nullcol_Dropped.delinq_2yrs=LC_Data_Nullcol_Dropped.delinq_2yrs.apply(lambda x : int(x))
LC_Data_Nullcol_Dropped.open_acc=LC_Data_Nullcol_Dropped.open_acc.apply(lambda x : int(x))
LC_Data_Nullcol_Dropped.pub_rec=LC_Data_Nullcol_Dropped.pub_rec.apply(lambda x : int(x))

In [17]:
LC_Data_Nullcol_Dropped.revol_util=LC_Data_Nullcol_Dropped.revol_util.apply(lambda x:float(x[:-1]) if str(x)[-1] == "%" else float(x))
LC_Data_Nullcol_Dropped.total_acc=LC_Data_Nullcol_Dropped.total_acc.apply(lambda x : int(x))

In [18]:
LC_Data_Nullcol_Dropped.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                39717 non-null  float64
 1   funded_amnt              39717 non-null  float64
 2   funded_amnt_inv          39717 non-null  float64
 3   term                     39717 non-null  int64
 4   int_rate                 39717 non-null  float64
 5   installment              39717 non-null  float64
 6   grade                    39717 non-null  object
 7   sub_grade                39717 non-null  object
 8   emp_title                37258 non-null  object
 9   emp_length               38642 non-null  float64
 10  home_ownership           39717 non-null  object
 11  annual_inc               39717 non-null  float64
 12  verification_status      39717 non-null  object
 13  issue_d                  39717 non-null  datetime64[ns]
 14  loan_status              39717 non-null  object
 15  purpose                  39717 non-null  object
 16  title                    39706 non-null  object
 17  zip_code                 39717 non-null  object
 18  addr_state               39717 non-null  object
 19  dti                      39717 non-null  float64
 20  delinq_2yrs              39717 non-null  int64
 21  earliest_cr_line         39717 non-null  datetime64[ns]
 22  inq_last_6mths           39717 non-null  int64
 23  open_acc                 39717 non-null  int64
 24  pub_rec                  39717 non-null  int64
 25  revol_bal                39717 non-null  float64
 26  revol_util               39667 non-null  float64
 27  total_acc                39717 non-null  int64
 28  out_prncp                39717 non-null  float64
 29  out_prncp_inv            39717 non-null  float64
 30  total_pymnt              39717 non-null  float64
 31  total_pymnt_inv          39717 non-null  float64
 32  total_rec_prncp          39717 non-null  float64
 33  total_rec_int            39717 non-null  float64
 34  total_rec_late_fee       39717 non-null  float64
 35  recoveries               39717 non-null  float64
 36  collection_recovery_fee  39717 non-null  float64
 37  last_pymnt_d             39646 non-null  datetime64[ns]
 38  last_pymnt_amnt          39717 non-null  float64
 39  last_credit_pull_d       39715 non-null  datetime64[ns]
 40  pub_rec_bankruptcies     39020 non-null  float64
dtypes: datetime64[ns](4), float64(21), int64(6), object(10)
memory usage: 12.4+ MB

In [19]:
null_count = LC_Data_Nullcol_Dropped.isnull().sum()
missing_data=pd.DataFrame({"Column":LC_Data_Nullcol_Dropped.columns,"Null Val":null_count})
missing_data.sort_values("Null Val",inplace=True, ascending= False)
missing_data[missing_data['Null Val']>0]

                                    Column  Null Val
emp_title                        emp_title      2459
emp_length                      emp_length      1075
pub_rec_bankruptcies  pub_rec_bankruptcies       697
last_pymnt_d                  last_pymnt_d        71
revol_util                      revol_util        50
title                                title        11
last_credit_pull_d      last_credit_pull_d         2

In [20]:
#Lets go through the column with the highest null values
LC_Data_Nullcol_Dropped.emp_title.value_counts()

US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

In [21]:
#Since the most common factor in this feild is only 0.3 % of the total data set and there are 6% null values we can drop this column
LC_Data_Nullcol_Dropped.drop('emp_title',axis=1)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,5000.0,5000.0,4975.0,3,10.65,162.87,B,B2,11.0,RENT,24000.0,Verified,2011-12-01,Fully Paid,credit_card,Computer,860xx,AZ,27.65,0,1985-01-01,1,3,0,13648.0,83.7,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,2015-01-01,171.62,2016-05-01,0.0
1,2500.0,2500.0,2500.0,6,15.27,59.83,C,C4,0.5,RENT,30000.0,Source Verified,2011-12-01,Charged Off,car,bike,309xx,GA,1.00,0,1999-04-01,5,3,0,1687.0,9.4,4,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2013-09-01,0.0
2,2400.0,2400.0,2400.0,3,15.96,84.33,C,C5,11.0,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,small_business,real estate business,606xx,IL,8.72,0,2001-11-01,2,2,0,2956.0,98.5,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,2014-06-01,649.91,2016-05-01,0.0
3,10000.0,10000.0,10000.0,3,13.49,339.31,C,C1,11.0,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,other,personel,917xx,CA,20.00,0,1996-02-01,1,10,0,5598.0,21.0,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,2015-01-01,357.48,2016-04-01,0.0
4,3000.0,3000.0,3000.0,6,12.69,67.79,B,B5,1.0,RENT,80000.0,Source Verified,2011-12-01,Current,other,Personal,972xx,OR,17.94,0,1996-01-01,0,15,0,27783.0,53.9,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,2016-05-01,67.79,2016-05-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,2500.0,2500.0,1075.0,3,8.07,78.42,A,A4,4.0,MORTGAGE,110000.0,Not Verified,2007-07-01,Fully Paid,home_improvement,Home Improvement,802xx,CO,11.33,0,1990-11-01,0,13,0,7274.0,13.1,40,0.00,0.00,2822.969293,1213.88,2500.00,322.97,0.00,0.00,0.00,2010-07-01,80.90,2010-06-01,NaN
39713,8500.0,8500.0,875.0,3,10.28,275.38,C,C1,3.0,RENT,18000.0,Not Verified,2007-07-01,Fully Paid,credit_card,Retiring credit card debt,274xx,NC,6.40,1,1986-12-01,1,6,0,8847.0,26.9,9,0.00,0.00,9913.491822,1020.51,8500.00,1413.49,0.00,0.00,0.00,2010-07-01,281.94,2010-07-01,NaN
39714,5000.0,5000.0,1325.0,3,8.07,156.84,A,A4,0.5,MORTGAGE,100000.0,Not Verified,2007-07-01,Fully Paid,debt_consolidation,MBA Loan Consolidation,017xx,MA,2.30,0,1998-10-01,0,11,0,9698.0,19.4,20,0.00,0.00,5272.161128,1397.12,5000.00,272.16,0.00,0.00,0.00,2008-04-01,0.00,2007-06-01,NaN
39715,5000.0,5000.0,650.0,3,7.43,155.38,A,A2,0.5,MORTGAGE,200000.0,Not Verified,2007-07-01,Fully Paid,other,JAL Loan,208xx,MD,3.72,0,1988-11-01,0,17,0,85607.0,0.7,26,0.00,0.00,5174.198551,672.66,5000.00,174.20,0.00,0.00,0.00,2008-01-01,0.00,2007-06-01,NaN
39716,7500.0,7500.0,800.0,3,13.75,255.43,E,E2,0.5,OWN,22000.0,Not Verified,2007-06-01,Fully Paid,debt_consolidation,Consolidation Loan,027xx,MA,14.29,1,2003-10-01,0,7,0,4175.0,51.5,8,0.00,0.00,9195.263334,980.83,7500.00,1695.26,0.00,0.00,0.00,2010-06-01,256.59,2010-06-01,NaN

In [22]:
#Look For duplicates in our data set
LC_Data_Nullcol_Dropped[LC_Data_Nullcol_Dropped.duplicated()]
# We have no duplicates

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

In [23]:
#Setting Categoric data 
col = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'addr_state','delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'pub_rec_bankruptcies']
LC_Data_Nullcol_Dropped[col] = LC_Data_Nullcol_Dropped[col].apply(lambda x: x.astype('category'))

In [24]:
# Now that we have all the columns set in the right format we can keep that and copy and we have our final data frame for EDA
Data_LC = LC_Data_Nullcol_Dropped.copy(deep= True)
#Create a CSV that dropped out side the notebook to have a check point
LC_Data_Nullcol_Dropped.to_csv("New_Data.csv", index=False,mode='w+')
# From this point on we will not be dropping any more columns